.container-fluid
  .row
    .col-12
      .card
        .card-header
          %h4 New/Edit Page
        .card-body
          = render partial: "form"
  .row
    .col-12
      .card
        .card-header
          %h4 Pages
        .table-responsive
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th Active
                %th Rank
                %th Template
                %th Name
                %th Path
                %th Created At
                %th
            %tbody
              - @pages.each do |page|
                %tr
                  %td= page.active ? "Yes" : "No"
                  %td= page.rank
                  %td= page.template
                  %td= page.name
                  %td= page.path
                  %td= page.created_at_date
                  %td
                    = link_to "View", page_path(page.path)
                    &vert;
                    = link_to "Edit", edit_admin_page_path(page)
                    &vert;
                    = link_to "Delete", admin_page_path(page), method: :delete, data: { confirm: "Are you sure you want to delete #{page.name}?" }
