.container-fluid
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h4 New/Edit Page
        .panel-body
          = render partial: "form"
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          %h4 Pages
        %table.table.table-bordered.table-hover
          %thead
            %tr
              %th ID
              %th Active
              %th Rank
              %th Name
              %th Path
              %th Created At
              %th
          %tbody
            - @pages.each do |page|
              %tr
                %td= page.id
                %td= page.active ? "Yes" : "No"
                %td= page.rank
                %td= page.name
                %td= page.path
                %td= page.created_at.strftime("%m/%d/%y %I:%M %p")
                %td
                  = link_to "Visit", page_path(page.path)
                  &vert;
                  = link_to "Edit", edit_admin_page_path(page)
                  &vert;
                  = link_to "Delete", admin_page_path(page), method: :delete, data: { confirm: "Are you sure you want to delete #{page.name}?" }
