%p Hi #{@user.first_name},
%p Earlier today an episode was released a little early#{" (#{@title})" if @title}. It has been removed but will be available at a later time.
%p Thanks for listening!
%div Mike & the US GEL Gang
%div= link_to "@PratsEM", "https://twitter.com/PratsEM"
%div= link_to "ultrasoundgel.org", "https://www.ultrasoundgel.org"
%div= link_to "facebook.com/UltrasoundGEL", "https://facebook.com/UltrasoundGEL"
