.container-fluid
  .row.text-center
    .col-md-4.col-md-offset-1
      %h3 Sign In
      = form_with namespace: :session, model: @user, url: session_path do |f|
        .form-group
          = f.email_field :email, placeholder: "Email", class: "form-control"
        .form-group
          = f.password_field :password, placeholder: "Password", class: "form-control"
        .form-group
          = f.submit "Sign In", class: "btn btn-primary"
        .form-group
          .small= button_tag "Forgot Password", id: "forgot-password", type: :button
      = form_with namespace: :password, url: forgot_password_user_path, class: :hidden, id: "forgot-password-form" do |f|
        .form-group
          = f.email_field :email, placeholder: "Email", class: "form-control"
        .form-group
          = f.submit "Submit", class: "btn btn-primary"
    .col-md-4.col-md-offset-1
      %h3 Sign Up
      = render "users/form"
