.container-fluid#top
  .row
    .col-md-8.col-md-offset-2
      - if @html.present?
        .custom-html.text-center= @html
      .form-inline.text-center
        .form-group.spacer-10
          - links = [["Newest Articles", "#newest-articles"]]
          - @categories.each{ |category| links << [category.name, "#articles-#{category.id}"] }
          - links << ["Archive", "#articles-archive"]
          = select_tag :article, options_for_select(links), class: "form-control", include_blank: "Skip to Category"
      = render "partials/articles", articles: @new_articles, heading: "Newest Articles", id: "newest-articles"
      - @categories.each do |category|
        = render "partials/articles", articles: category.articles, heading: category.name, id: "articles-#{category.id}"
      = render "partials/articles", articles: @old_articles, heading: "Archive", id: "articles-archive"
