- total = @episodes.count
- limit = (params[:limit] || 3).to_i
- total_pages = (total / limit.to_f).ceil
- total_pages = 1 if total_pages < 1
- current_page = (params[:page] || 1).to_i
- current = @episodes.offset((current_page - 1) * limit).limit(limit)
- current_total = current.count
.container-fluid
  .row
    - sidebar = app.announcements.present? || app.resources.present?
    .col-md-6(class="offset-md-#{sidebar ? 1 : 3}")
      - if @html.present?
        .custom-html.text-center= @html
        %hr
      - if @search.present?
        %h3 Showing #{pluralize total, "result"} for "#{@search}"
        %hr
      - current.each_with_index do |episode, index|
        = render partial: "partials/episode", locals: { episode: episode }
        - unless index == @episodes.length - 1
          %hr
      - if current_total.zero?
        .row.text-center Nothing found
        %hr
      .row.text-center Page #{current_page} of #{total_pages}
      - if total_pages > 1
        .spacer-10
        .row.text-center
          .btn-group
            - if current_page - 1 >= 1
              = link_to fa_icon("angle-double-left"), "?page=1&limit=#{limit}&search=#{@search}", class: "btn btn-themed"
              = link_to fa_icon("angle-left"), "?page=#{current_page - 1}&limit=#{limit}&search=#{@search}", class: "btn btn-themed"
            - else
              = button_tag fa_icon("angle-double-left"), class: "btn btn-themed disabled"
              = button_tag fa_icon("angle-left"), class: "btn btn-themed disabled"
            = button_tag current_page, class: "btn btn-themed disabled"
            - if current_page + 1 > total_pages
              = button_tag fa_icon("angle-right"), class: "btn btn-themed disabled"
              = button_tag fa_icon("angle-double-right"), class: "btn btn-themed disabled"
            - else
              = link_to fa_icon("angle-right"), "?page=#{current_page + 1}&limit=#{limit}&search=#{@search}", class: "btn btn-themed"
              = link_to fa_icon("angle-double-right"), "?page=#{total_pages}&limit=#{limit}&search=#{@search}", class: "btn btn-themed"
    - if sidebar
      .col-md-4
        - if app.announcements.present?
          .spacer-10
          .card.card-success
            .card-header Announcements
            .card-body.custom-html= app.announcements_to_html
        = render "partials/twitter_widget"
        - if app.resources.present?
          .spacer-10
          .card.card-success
            .card-header Cool Sites
            .card-body.custom-html= app.resources_to_html
