- if articles.present?
  .card{id: id}
    .card-header
      .card-title= heading
    .table-responsive
      %table.table.table-hover
        %tbody
          - articles.each do |article|
            %tr
              %td= link_to article.title, article.link, target: :_blank
              %td= article.journal
              %td #{Date::MONTHNAMES[article.month]} #{article.year}
    .card-footer
      %a.float-right(href="#top") back to top
      .clearfix
