#{post.episode.author}.
#{post.title}.
<i>Ultrasound G.E.L. Podcast Blog.</i>
Published on #{post.published_at.to_date.to_s(:long)}.
Accessed on #{DateTime.now.to_date.to_s(:long)}.
Available at #{home_url + index.to_s}.
