.row
  .col-sm-6
    - if episode.post && episode.post.published_at_date
      = link_to episode.post do
        = image_tag episode_image_url(episode.uid, format: episode.image.extension), class: "img-fluid"
    - else
      = image_tag episode_image_url(episode.uid, format: episode.image.extension), class: "img-fluid"
    .d-sm-none
      .spacer-5
      %hr
      .spacer-5
  .col-sm-6
    %h3.no-space= episode.title
    .spacer-5
    %div
      - if episode.post && episode.post.published_at_date
        = link_to episode.post do
          = fa_icon("pencil-square")
          Post
    = render partial: "partials/audio_links", locals: {episode: episode}
    .spacer-10
    %h4= episode.subtitle
    %p By #{episode.author} on #{episode.published_at_date || "Unpublished"}
    %p= episode.summary
