.row
  .col-sm-6
    = image_tag episode_image_url(episode.uid, format: episode.image.extension), class: "img-responsive"
    .hidden-lg.hidden-md.hidden-sm
      .spacer-5
      %hr
      .spacer-5
  .col-sm-6
    %h3.no-space= episode.title
    .spacer-5
    %div
      - if episode.post && episode.post.published_at_date
        = link_to episode.post do
          = fa_icon("pencil-square")
          Post
      = link_to episode_audio_url(episode.uid, format: episode.audio.extension) do
        = fa_icon("headphones")
        Listen
    - itunes_link = episode.itunes_link
    - itunes_link = episode.channel.itunes_link if itunes_link.blank?
    - if itunes_link.present?
      .spacer-10
      = link_to "", itunes_link, target: :_blank, style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:165px;height:40px;"
    .spacer-10
    %h4= episode.subtitle
    %p By #{episode.author} on #{episode.published_at_date || "Unpublished"}
    %p= episode.summary
