.row.post
  .col-xs-12
    .text-center
      %h1= post.title
      %p Published on #{post.published_at_date || "Unpublished"}
      - if post.episode
        %p
          = link_to post.episode.audio_url do
            = fa_icon("headphones")
            Podcast
          = link_to post.episode do
            = fa_icon("info-circle")
            Learn More
    = post.text_to_html
