= form_for @user, url: user_path do |f|
  .form-group.row
    = f.email_field :email, placeholder: "Email", class: "form-control"
  .form-group.row
    = f.text_field :first_name, placeholder: "First Name", class: "form-control"
  .form-group.row
    = f.text_field :last_name, placeholder: "Last Name", class: "form-control"
  - if @user.id
    .form-group.row
      = f.password_field :password, placeholder: "Password (Optional)", class: "form-control"
  - else
    .form-group.row
      = f.password_field :password, placeholder: "Password", class: "form-control"
    .form-group.row
      = f.password_field :password_confirmation, placeholder: "Password", class: "form-control"
  .form-group.row
    .text-center Profile Image
    - if @user.image.present?
      = image_tag @user.image.url, class: "img-fluid"
    = f.file_field :image, class: "form-control"
  .form-group.row
    .form-check
      %label.form-check-label
        = f.check_box :post_notifications, class: "form-check-input"
        Be notified when a new post is published?
  .form-group.row
    - text = @user.id ? "Save" : "Sign Up"
    = f.submit text, class: "btn btn-primary"
