- total = @episodes.count
- limit = (params[:limit] || 3).to_i
- total_pages = (total / limit.to_f).ceil
- total_pages = 1 if total_pages < 1
- current_page = (params[:page] || 1).to_i
- current = @episodes.offset((current_page - 1) * limit).limit(limit)
- current_total = current.count
.container-fluid
  .row
    - sidebar = app.announcements.present? || app.resources.present?
    .col-md-6(class="col-md-offset-#{sidebar ? 1 : 3}")
      - if @html.present?
        .custom-html.text-center= @html
        %hr
      - if @search.present?
        %h3 Showing #{pluralize total, "result"} for "#{@search}"
        %hr
      - current.each_with_index do |episode, index|
        = render partial: "partials/episode", locals: { episode: episode }
        - unless index == @episodes.length - 1
          %hr
      - if current_total.zero?
        .row.text-center Nothing found
        %hr
      .row.text-center Page #{current_page} of #{total_pages}
      - if total_pages >= current_page && total_pages > 1
        .row.text-center
          - (1..total_pages).each do |page|
            = link_to page, "?page=#{page}&limit=#{limit}&search=#{@search}"
    - if sidebar
      .col-md-4
        - if app.announcements.present?
          .spacer-10
          .panel.panel-success
            .panel-heading Announcements
            .panel-body.custom-html= app.announcements_to_html
        - if app.resources.present?
          .spacer-10
          .panel.panel-success
            .panel-heading Cool Sites
            .panel-body.custom-html= app.resources_to_html
