= form_for [:admin, @post], html: { class: "form-horizontal" } do |f|
  - if !@post.published? && Episode.unpublished.count.zero?
    .form-group.row
      = f.label :episode_id, class: "col-sm-2 col-form-label"
      .col-sm-10
        %p.form-col-form-static
          There are no unpublished episodes available.
          = link_to "Create one", admin_episodes_path
          and attach it here before publishing this post.
  - elsif @post.published_at.blank?
    .form-group.row
      = f.label :episode_id, class: "col-sm-2 col-form-label"
      .col-sm-10
        = f.collection_select :episode_id, Episode.unpublished, :id, :title, { prompt: "None" }, class: "form-control"
  .form-group.row
    = f.label :title, class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_field :title, placeholder: "Rectum? Darn near killed him!", class: "form-control"
  .form-group.row
    = f.label :text, class: "col-sm-2 col-form-label"
    .col-sm-10
      = render partial: "partials/markdown_field", locals: { f: f, field: :text }
  .form-group.row
    = f.label :tags, class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_field :tags, placeholder: "Tomify, Great Jokes", class: "form-control"
  .form-group.row
    = f.label :public_tags, class: "col-sm-2 col-form-label"
    .col-sm-10
      - app.public_tags.each do |public_tag|
        %div
          %label
            = f.check_box :public_tags, { multiple: true }, public_tag, false
            = public_tag
  .form-group.row
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
      %span.help-text This will not yet publish your post
