.container-fluid
  .row
    .col-md-6.col-md-offset-3
      .row
        .col-xs-12
          .text-center
            %h1= @post.title
            - if @post.public_tags.length > 0
              .spacer-10
                - @post.public_tags.each do |public_tag|
                  = link_to public_tag, home_path(search: public_tag), class: "badge badge-themed"
            - if @post.episode
              %div= "By #{@post.episode.author}" if @post.episode.author
              = render partial: "partials/audio_links", locals: {episode: @post.episode}
          .custom-html= @post.text_to_html
      .row.text-center
        %button.btn.btn-icon.fa.fa-2x.fa-facebook-square(title="Share on Facebook")
        %button.btn.btn-icon.fa.fa-2x.fa-twitter-square(title="Share on Twitter")
        %button.btn.btn-icon.fa.fa-2x.fa-share-alt-square{title: "Share by Link", data: {toggle: "modal", target: "#share-modal"}}
      .spacer-20
      .card.bg-light.text-center
        .card-body
          %h3 Cite this post as
          %small
            = render partial: "partials/citation", locals: { post: @post }
      .spacer-20
      .row.small
        .col-md-6 Published on #{@post.published_at_date || "Unpublished"}
        .col-md-6.text-right
          - count = @post.comments.count
          - if current_user.nil?
            comments (#{count})
          - elsif current_user.comment_notifications.where(post_id: @post.id).exists?
            = link_to "unsubscribe to comments (#{count})", unsubscribe_post_path(@post), method: :post
          - else
            = link_to "subscribe to comments (#{count})", subscribe_post_path(@post), method: :post
      .spacer-10
      = render partial: "partials/comments", locals: { post: @post }
= render partial: "partials/share_modal"
