= form_for [:admin, @episode], html: { class: "form-horizontal" } do |f|
  - if @episode.published?
    .form-group.row
      = f.label :google_link, "Google Link", class: "col-sm-2 col-form-label"
      .col-sm-10
        = f.url_field :google_link, placeholder: "https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&link=https://play.google.com/music/m/Izwq4baivr3p5s2ewx2vizrk7sy?t%3DUltrasound_GEL%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16", class: "form-control"
    .form-group.row
      = f.label :itunes_link, "iTunes Link", class: "col-sm-2 col-form-label"
      .col-sm-10
        = f.url_field :itunes_link, placeholder: "https://itunes.apple.com/us/podcast/the-spine-sign/id1146063559?i=1000374349498&mt=2", class: "form-control"
  .form-group.row
    .col-sm-offset-2.col-sm-10
      %p.form-col-form-static
        For where these fields are displayed and what they represent, view the guidelines
        = link_to "here", "http://www.apple.com/itunes/podcasts/specs.html#rss", target: :_blank
  - if Channel.count.zero?
    .form-group.row
      = f.label :channel_id, class: "col-sm-2 col-form-label"
      .col-sm-10
        %p.form-col-form-static
          There are no channels available.
          = link_to "Create one", admin_channels_path
          and attach it here before publishing this episode.
  - else
    .form-group.row
      = f.label :channel_id, class: "col-sm-2 col-form-label"
      .col-sm-10
        = f.collection_select :channel_id, Channel.all, :id, :title, { prompt: "None" }, class: "form-control"
  - if AudioUpload.podcast_approved.count.zero?
    .form-group.row
      = f.label :audio_id, class: "col-sm-2 col-form-label"
      .col-sm-10
        %p.form-col-form-static
          There are no uploaded audio files with the right file type available.
          = link_to "Create one", admin_uploads_path
          and attach it here before publishing this episode.
  - else
    .form-group.row
      = f.label :audio_id, class: "col-sm-2 col-form-label"
      .col-sm-10
        = f.collection_select :audio_id, AudioUpload.podcast_approved, :id, :name, { prompt: "None" }, class: "form-control"
  - if ImageUpload.podcast_approved.count.zero?
    .form-group.row
      = f.label :image_id, class: "col-sm-2 col-form-label"
      .col-sm-10
        %p.form-col-form-static
          There are no uploaded images with the right file type available.
          = link_to "Create one", admin_uploads_path
          and attach it here before publishing this episode.
  - else
    .form-group.row
      = f.label :image_id, class: "col-sm-2 col-form-label"
      .col-sm-10
        = f.collection_select :image_id, ImageUpload.podcast_approved, :id, :name, { prompt: "None" }, class: "form-control"
  .form-group.row
    = f.label :title, class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_field :title, placeholder: "Colon-ial Times", class: "form-control"
  .form-group.row
    = f.label :subtitle, class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_field :subtitle, placeholder: "Sub-mach", class: "form-control"
  .form-group.row
    = f.label :author, class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_field :author, placeholder: "Ultra Sound Gel", class: "form-control"
  .form-group.row
    = f.label :summary, class: "col-sm-2 col-form-label"
    .col-sm-10
      = f.text_area :summary, placeholder: "Long-winded description of the episode", class: "form-control"
  .form-group.form-check.row
    .col-sm-offset-2.col-sm-10
        %label.form-check-label
          = f.check_box :explicit, class: "form-check-input"
          Explicit?
  .form-group.row
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
      %span.help-text This will not yet publish your episode
