.container-fluid
  .row
    .col-12
      .card
        .card-header
          %h4 New/Edit Channel
        .card-body
          = render partial: "form"
  .row
    .col-12
      .card
        .card-header
          %h4 Channels
        .table-responsive
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th Published
                %th Image
                %th Title
                %th Author
                %th Owner Name
                %th Owner Email
                %th
            %tbody
              - Channel.all.each do |channel|
                %tr
                  %td= channel.published_at_date
                  %td= channel.image && link_to(channel.image.name, channel.image.file.url, target: :_blank)
                  %td= channel.title
                  %td= channel.author
                  %td= channel.owner_name
                  %td= channel.owner_email
                  %td
                    - if channel.published?
                      = link_to "Edit", edit_admin_channel_path(channel), data: { confirm: "#{channel.title} is already published. Still want to edit?" }
                      &vert;
                    - else
                      = link_to "Publish", "#", class: "publish", data: { toggle: "modal", target: "#publish-modal", action: admin_channel_publish_path(channel) }
                      &vert;
                      = link_to "Edit", edit_admin_channel_path(channel)
                      &vert;
                    = link_to "Delete", admin_channel_path(channel), method: :delete, data: { confirm: "Are you sure you want to delete #{channel.title}?" }
= render partial: "partials/publish_modal"
