%footer
  .container
    .row.text-center
      .col-sm-12
        .spacer-10
          = link_to "http://creativecommons.org/licenses/by-nc/4.0/", rel: :license, target: :_blank do
            = image_tag "https://i.creativecommons.org/l/by-nc/4.0/80x15.png", alt: "Creative Commons License"
          %br
          %span(xmlns:dct="http://purl.org/dc/terms/" property="dct:title") Ultrasound GEL Podcast
          by
          = link_to "Michael Prats", "https://www.ultrasoundgel.org", "xmlns:cc": "http://creativecommons.org/ns", property: "cc:attributionName", rel: "cc:attributionURL", target: :_blank
          is licensed under a
          = link_to "Creative Commons Attribution-NonCommercial 4.0 International License", "https://creativecommons.org/licenses/by-nc/4.0", rel: :license, target: :_blank
          = " | "
          = link_to "Disclaimer", "/disclaimer"
        %div
          Website by #{link_to "Tomify", "https://www.tomify.me", target: :_blank}
