- if current_user.try(:admin)
  .admin-navbar.navbar.navbar-default.center
    .container-fluid
      %ul.nav.navbar-nav
        %li= link_to "Users", admin_users_path
        %li= link_to "Pages", admin_pages_path
        %li= link_to "Uploads", admin_uploads_path
        %li= link_to "Channels", admin_channels_path
        %li= link_to "Episodes", admin_episodes_path
        %li= link_to "Posts", admin_posts_path
        %li= link_to "Logout", session_path, method: :delete
%nav.navbar.navbar-default.center
  .container-fluid
    %ul.nav.navbar-nav
      %li= link_to "Home", home_path
      - pages.each do |page|
        %li= link_to page.name, page_path(page.path)
