- code = get_content("Sharing", "Title")
- title = content_for(:meta_title) ? yield(:meta_title) : get_content("Sharing", "Title")
- description = content_for(:meta_description) ? yield(:meta_description) : get_content("Sharing", "Description")
- image = yield(:meta_image) if content_for(:meta_image)
- image ||= get_content("Sharing", "Image")
- image ||= asset_pack_url("media/assets/images/logo.jpg")
- url = request.original_url

%title= title
%meta(name="description" content="#{description}")
%link(rel="canonical" href="#{url}")

%meta(property="og:type" content="article")
%meta(property="og:title" content="#{title}")
%meta(property="og:description" content="#{description}")
%meta(property="og:image" content="#{image}")
%meta(property="og:url" content="#{url}")
%meta(name="twitter:card" content="summary")
- if twitter = get_content("Social", "Twitter")
  %meta(name="twitter:site" content="@#{twitter}")
%meta(name="twitter:title" content="#{title}")
%meta(name="twitter:description" content="#{description}")
%meta(name="twitter:image" content="#{image}")
%meta(name="twitter:url" content="#{url}")
